# Project exclude paths
/out/
/target/
/target/idea_output/
*/build/
*/out/
.gradle
.idea
/Engine/src/main/resources/natives/
/Natives/cmake-build-debug/
/logs
*/.vs
/Examples/src
/Examples/RemoteFileSystemControl/src
/Examples/RemoteAPIImplementationControl/src
/src
CMakeSettings.json
.idea_modules
*.class
*.iml
*.log
