[submodule "linkitExtensions"]
	path = linkitExtensions
	url = https://github.com/Override-6/linkitExtensions
[submodule "MoodCollector"]
	path = MoodCollector
	url = https://github.com/Override-6/MoodCollector
[submodule "MoodCollector"]
	path = MoodCollector
	url = https://github.com/Override-6/MoodCollector
