# Project exclude paths
/out/
/target/
/target/idea_output/
*/build/
*/out/
.gradle
.idea
*/.vs
/Examples/src
/Examples/RemoteFileSystemControl/src
/Examples/RemoteAPIImplementationControl/src
/src
/Engine/src/main/resources/natives/
CMakeSettings.json
.idea_modules
*.class
*.iml
*.log
